backports.tarfile==1.2.0
fuzzywuzzy==0.18.0
gradio==5.27.1
gtts==2.5.4
importlib-metadata==8.0.0
jaraco.collections==5.1.0
librosa==0.11.0
noisereduce==3.0.3
pip-chill==1.0.3
pipreqs==0.4.13
pyserial==3.5
pytesseract==0.3.13
tomli==2.0.1
transformers==4.48.0
ultralytics==8.3.127
webrtcvad-wheels==2.0.14
